.view-plants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8rem;
    .view-plants--all-container{
        width: 90%;
    }
}